*.bin
*.class
*.meta
*.wav
*.npy
*.pyc
*.xml
.editorconfig
.idea/*
codestyles/*
inspection/*
VRC/.idea
VRC/.idea/*
VRC/logs/*
VRC/datasets/*
VRC/Network/*
.editorconfig
_windows
code.style.schemes
codestyles
colors.scheme.xml
debugger.xml
editor.codeinsight.xml
editor.xml
filetypes.xml
ide.general.xml
inspection
jdk.table.xml
project.default.xml
ui.lnf.xml