/VRC/run/logs/events.out.tfevents.1525769668.DESKTOP-M1M5RGU
/VRC/run/logs/events.out.tfevents.1525770617.DESKTOP-M1M5RGU
/VRC/run/Network/wave2wave-0.data-00000-of-00001
/VRC/run/Network/wave2wave-0.index
/VRC/run/Network/wave2wave-0.meta
/VRC/run/Network/wave2waves-0.data-00000-of-00001
/VRC/run/Network/wave2waves-0.index
/VRC/run/Network/wave2waves-0.meta
/VRC/train/Model/__pycache__/model_proto.cpython-35.pyc
/VRC/train/test/1-1- (1).wav
/VRC/train/test/1-1- (2).wav
/VRC/train/test/1-1- (3).wav
/VRC/train/test/1-1- (4).wav
/VRC/train/test/1-1- (5).wav
/VRC/train/test/1-2- (1).wav
/VRC/train/test/1-2- (2).wav
/VRC/train/test/1-2- (3).wav
/VRC/train/test/1-2- (4).wav
/VRC/train/test/1-2- (5).wav
/VRC/train/test/2-1-1.wav
/VRC/train/test/2-1-2.wav
/VRC/train/test/2-1-3.wav
/VRC/train/test/2-1-4.wav
/VRC/train/test/2-1-5.wav
/VRC/train/test/2-2-1.wav
/VRC/train/test/2-2-2.wav
/VRC/train/test/2-2-3.wav
/VRC/train/test/2-2-4.wav
/VRC/train/test/2-2-5.wav
/VRC/train/test/3-1- (1).wav
/VRC/train/test/3-1- (2).wav
/VRC/train/test/3-1- (3).wav
/VRC/train/test/3-1- (4).wav
/VRC/train/test/3-1- (5).wav
/VRC/train/test/3-2- (1).wav
/VRC/train/test/3-2- (2).wav
/VRC/train/test/3-2- (3).wav
/VRC/train/test/3-2- (4).wav
/VRC/train/test/3-2- (5).wav
/VRC/train/test/4-1- (1).wav
/VRC/train/test/4-1- (2).wav
/VRC/train/test/4-1- (3).wav
/VRC/train/test/4-1- (4).wav
/VRC/train/test/4-1- (5).wav
/VRC/train/test/4-2- (1).wav
/VRC/train/test/4-2- (2).wav
/VRC/train/test/4-2- (3).wav
/VRC/train/test/4-2- (4).wav
/VRC/train/test/4-2- (5).wav
/VRC/train/test/5-1- (1).wav
/VRC/train/test/5-1- (2).wav
/VRC/train/test/5-1- (3).wav
/VRC/train/test/5-1- (4).wav
/VRC/train/test/5-1- (5).wav
/VRC/train/test/5-2- (1).wav
/VRC/train/test/5-2- (2).wav
/VRC/train/test/5-2- (3).wav
/VRC/train/test/5-2- (4).wav
/VRC/train/test/5-2- (5).wav
/VRC/train/test/target.wav
/VRC/train/trained_models/wave2wave2.0.000_survey5/checkpoint
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-14.data-00000-of-00001
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-14.index
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-14.meta
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-15.data-00000-of-00001
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-15.index
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-15.meta
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-16.data-00000-of-00001
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-16.index
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-16.meta
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-17.data-00000-of-00001
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-17.index
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-17.meta
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-18.data-00000-of-00001
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-18.index
/VRC/train/trained_models/wave2wave2.0.000_survey5/wave2wave.model-18.meta
/VRC/utils/B.wav
/VRC/utils/test.wav
/VRC/.idea/workspace.xml
/VRC/utils/B.wav
/VRC/utils/B.wav
*.bin
*.class
*.meta
*.wav
VRC/logs/*
VRC/datasets/*
VRC/Network/*
.editorconfig
_windows
code.style.schemes
codestyles
colors.scheme.xml
debugger.xml
editor.codeinsight.xml
editor.xml
filetypes.xml
ide.general.xml
inspection
jdk.table.xml
project.default.xml
ui.lnf.xml